.desktop-menu {
  position: absolute;
  top: 60px;
  right:80px;
  background-color:white;
  width: 100px;
  height: 11rem;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  }
  .desktop-menu .desktop-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display:block;
  }
  .desktop-menu .desktop-menu__list li {
    text-align: end;
  }
  .desktop-menu .desktop-menu__list li:nth-child(1),
  .desktop-menu .desktop-menu__list li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu .desktop-menu__list li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu .desktop-menu__list li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu .desktop-menu__list li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  